{% extends "layout.html" %}

{% block title %}
    BUY STOCK
{% endblock %}

{% block main %}

<form action="/buy" method="post">
    <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="stk-symbol" placeholder="Stock Symbol" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="num-shares" placeholder="Quantity" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Buy</button>
</form>

<p>
    Available Funds: {{funds}}
</p>

{% endblock %}
